@model banger.Models.Bookings
@{
    Layout = "AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CollectVehicles</title>
</head>
<body>
</body>
</html>
